body {
    font-family: devjefersonmellado;
    background: lightslategray;
}

.card {
    background: rgb(119, 172, 172);
    border-radius: 5px;
    width: 500px;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
}

h1 {
    text-align: center;
    background: lightgoldenrodyellow;
    border-radius: 5px;
}

h2 {
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    background: chocolate;
    text-transform: uppercase;
}

p {
    background: coral;
    color: white;
    border-radius: 5px;
    padding: 4px;
}